<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/help">Request Help</a></li>
        		<li><a href="/volunteer">Sign up to Volunteer</a></li>
        		<li><a href="/how">How can you help</a></li>
            <li><a href="/donate">Donate</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="https://t.me/mutualaidBNE">email</a></li>
        		<li><a href="/volunteer">Sign up to Volunteer</a></li>
        		<li><a href="/how">How can you help</a></li>
            <li><a href="/donate">Donate</a></li>
			</ul>
		</footer>
		</body>
	</html>
